body {
  width: 100%;
  margin: auto;
}

h1 {font-family: lato;
  color: #e43774;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
 }

h3 {font-family: lato;
  color: #0e0206;
  font-size: 36px;
  font-weight: 500;
  text-align: left;
}

h4 {
  font-family: lato;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  text-align: left;

}

h2 {
  font-family: Daydreamer;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;

}

h5{
  font-family: lato;
  color: #ffffff;
  font-size: 33.91px;
  font-weight: 600;
  text-align: center;

}

h6{
  font-family: lato;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}


/* NAV */
nav {
  height: 60px;
  background: #1693df;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar {width: 100%;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 19px;
  font-family: lato;
  decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 0px 2px 4.92px rgba(0, 0, 0, 0.13);
  border: 2px #ffffff solid;
  box-shadow: 0px 2px 4.1px 0.9px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 80px;
  height: 30px;
  text-decoration: none;
}

span {
  padding-right: 50px;
}

.navbar a:hover {background-color: #e43774;
  transition-duration: 0.7s;}

  .navbar a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);}



    /* JUMBROTRON */

    .container-jumbo {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }


    .jumbotron{
      margin: auto 300px;

    }

    .herogirl {
      display: flex;
      padding-left: 100px;
      max-height: 680px;
      margin: auto;
    }

    .logo {
      padding-right: 105px;
    }



    .cta
  {background-color:  #1693df;
      box-shadow: 0px 6px 10.2px 1.8px rgba(0, 0, 0, 0.20);
      width: 250px;
      height: 50px;
      border-radius: 10px;
      margin-top: 10px;

    }

    .cta a {
      font-family: lato;
      color:  #ffffff;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      text-decoration: none;


    }

    .cta:hover {background-color: #e43774;
      transition-duration: 0.7s;}

    .cta:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);}


      /* PAGE 2 */


      .container-2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto 400px;
        padding-bottom: 50px;
        padding-top: 50px;
      }


      .page2{
        background: #e43774;
      }

      .page2 img {
        width: 300px;

      }

      .info {
        min-width: 200px;
        max-width: 500px;
      }

      /* PAGE 3 */
      .container-3 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto 100px;

      }


      .page3 {
        background:  #1693df;

      }


      .page3 img {
        padding-top: 100px;
        height: 600px;
        width: auto;
      }

      form {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width:353px;
        margin-left: 100px;
        margin-top: 20px;
      }

      label {
        font-family: lato;
        color: #ffffff;
      }

      input {
        width: 300px;
        height: 30px;
        border-radius: 10px;
      }

      form-group{

        padding-top: 10px;
      }

      #bodytypeinput
      {
        width: 306px;
        height: 36px;
      }

      #agreebutton
      {
        font-family: lato;
        color:  #ffffff;
        font-size: 16px;
        font-weight: 300;
        background-color:  #e43774;
        width: 306px;
        height: 36px;
        margin-top: 15px;
        border-radius: 10px;
      }

      #agreebutton:hover {background-color: #1693df;
        transition-duration: 0.7s;}


        /* MEDIA QUERIES */

@media only screen and (min-width: 740px) and (max-width: 1023px) {

  .container-jumbo {
    width: 100%;
  display: flex;

    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  h1, h3 {
    font-size:  30px;
  }

  h2 {
    font-size: 10px;
  }


  .page2 img{
    width: auto;
  }

  .page3 img{
    width: auto;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:300px;
    margin-top: 20px;
  }



}

@media only screen and (min-width: 250px) and (max-width: 930px) {



.container-jumbo {
  width: 100%;
display: flex;

  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;
}


.logo{
  width: 99%;

}

.container-2{
  width: 100%;
display: flex;

  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.cta {
  display: none;
}


  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 10px;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 12px;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 12px;
  }

  .herogirl {

    max-height: 300px;
    margin: auto;
  }

.page2 img{
  height: 100px;
  width: auto;
}

.page3 img{
  display:none;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:300px;
  margin-left: auto;
  margin-top: 20px;
}

}
